.NewBudgetPage {
    border-width: 11px;
    border-style: outset;
    box-sizing: border-box;
    border-color: rgb(236, 241, 241);
    justify-content: space-between;
    width: 60%;
    display: center;
    margin: 23px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.budget-details {
    border-width: 11px;
    border-style: outset;
    box-sizing: border-box;
    border-color: rgb(236, 241, 241);
    justify-content: space-between;
    width: 60%;
    display: center;
    margin: 23px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

#new-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    box-shadow: black 2px 2px 6px 2px;
    background-image: linear-gradient(to right, rgb(219, 227, 220), rgb(217, 232, 214) 50%, rgb(173, 194, 157) 100%);
    transition: background-color 100ms ease-in;
}

